<div class="row">
  <div class="col-md-4" *ngFor="let p of products">
    <div class="card mb-3">
      <img src="{{ p.imageUrl}}" alt="{{ p.name}}"/>
      <div class="card-body">
        <h4 class="card-title">
          <a href="" class="text-decoration-none">
            {{ p.name }}
          </a>
        </h4>
        <small class="text-muted">
          {{ p.price }} <i class="fa-solid fa-manat-sign"></i>
        </small>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-outline-primary btn-sm">
          Details
        </button>
        <button (click)="addProductToCart(p)" class="btn btn-outline-primary btn-sm ms-3">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
